## Title of our regression project

MLMaverick Team
- Seulah Lee 300361747
- David Steven Salazar Villegas 300356922
- Ishwinder Singh 300351938

## Importing Libraries (Collection of functions)
- **numpy** :  to perform a wide variety of mathematical operations on arrays
- **pandas** : to perform data manipulation that involves cleaning, transforming, and organizing data so that datset can be effectively analyzed
- **matplotlib.pyplot** : to view or present data in a pictorial or graphical format. Each pyplot function makes some change to a figure: e.g., creates a figure, creates a plotting area in a figure, etc.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('competition_data.csv')

In [3]:
df.head(10)

,Unnamed: 0,year,price,mileage,engine_size,Automatic,Manual,Other,Semi-Auto,fuel_type_Diesel,fuel_type_Hybrid,fuel_type_Other,fuel_type_Petrol
0,0,2020.0,30495,1200.0,2.0,1,0,0,0,1,0,0,0
1,1,2020.0,29989,1000.0,1.5,1,0,0,0,0,0,0,1
2,2,2020.0,37899,500.0,2.0,1,0,0,0,1,0,0,0
3,3,2019.0,30399,5000.0,2.0,1,0,0,0,1,0,0,0
4,4,2019.0,29899,4500.0,2.0,1,0,0,0,1,0,0,0
5,5,2020.0,30999,1000.0,2.0,1,0,0,0,1,0,0,0
6,6,2020.0,35999,500.0,2.0,1,0,0,0,1,0,0,0
7,7,2019.0,37990,1412.0,3.0,1,0,0,0,0,0,0,1
8,8,2019.0,28990,3569.0,2.0,1,0,0,0,1,0,0,0
9,9,2019.0,28990,3635.0,2.0,1,0,0,0,1,0,0,0

In [4]:
# first let divide the df into features and response
response = df["price"]
features = df.drop('price', axis=1)

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(features,
                                                    response, 
                                                    test_size=0.1, 
                                                    random_state = 1024)

In [ ]:
# build the model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, Y_train)

In [ ]:
# get the predictions for the test dataset
predictions = model.predict(X_test)

In [ ]:
# R-squared
print("R^2 in Training set:", model.score(X_train, Y_train))
print("R^2 in Test set:", model.score(X_test, Y_test))

In [ ]:
# RMSE
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(Y_test, predictions)

print('RMSE in Test set:', mse**0.5)

In [ ]:
# plot the prediction vs actual
actual_values = Y_test
plt.scatter(predictions, actual_values, alpha=0.7, color='b')
plt.xlabel('Predicted Price')
plt.ylabel('Actual Price')
plt.title("Linear Regression Model (Predicted vs Actual)")
plt.show()

In [ ]:
## Trying removing less influential features
#features = df.drop(['Unnamed: 0','price','engine_size', 'Automatic', 'Manual', 'Other_Transmission', 'Semi-Auto' , 'Diesel', 'Hybrid', 'Other_Fuel', 'Petrol'], axis=1)
#features.head(10)